name: CI

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install Dependencies
        run: npm install --legacy-peer-deps

      - name: Run Tests (Library)
        run: npx ng test form-control-change-tracker --watch=false --browsers=ChromeHeadless

      - name: Build Library
        run: npx ng build form-control-change-tracker

      - name: Build Demo App
        run: npx ng build
